RewriteEngine on
RewriteRule ^(view|controller|dao)/.*$ index.php
RewriteRule ^admin/.*$ admin/index.php [NC,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !^admin$
RewriteRule ^(.*)$ index.php/ [NC,QSA]    
